* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

body {
    font-family: "Google Sans", sans-serif;
}

.nav {
    color: lime;
    display: flex;
    margin: 2rem auto 3rem auto;
    width: 60%;
    justify-content: space-around;
}

.nav a {
    text-decoration: none;
    color: lime;
    cursor: pointer;
}

.main-container {
    color: lime;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.welcome h1 {
    font-family: "BBH Hegarty", sans-serif !important;
    font-weight: 300;
    font-size: 5rem;
}

.main-container h4 {
    font-style: italic;
}

.info_container {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.about_text {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 0 0 5rem;
    line-height: 1.6;
    justify-content: space-around;
}