* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

body {
    font-family: "Google Sans", sans-serif;
}

.nav {
    color: lime;
    display: flex;
    margin: 2rem auto 3rem auto;    
    width: 60%;
    justify-content: space-around;
}

.nav a {
    text-decoration: none;
    color: lime;
    cursor: pointer;
}

.main-container {
    color: lime;
    text-align: center;
}

.welcome h1 {
    font-family: "BBH Hegarty", sans-serif !important;
    font-weight: 300;
    font-size: 5rem;
}

.main-container h4 {
    font-style: italic;
}

#add_task {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

#index_add_task_input {
    margin-top: 1rem;
    padding: 1em 1em;
    border-radius: 10px;
    background-color: black;
    border-color: lime;
    color: white;
    width: 30%;
}

#index_add_task_input::placeholder {
    color: lime;
}

#radio_boxes {
    margin-top: 1.5rem;
}

#boxes {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

#index_button {
    margin-top: 1.5rem;
    padding: 1rem 2.5rem;
    background-color: lime;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

#index_button:hover {
    background-color: black;
    color: lime;
    border: solid lime;
}